src/main/mule/test-api-nikitha.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="7b0c6927-9d50-4b81-8682-0c8078202fad" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="test-api-nikithaFlow" doc:id="5f5adf33-3f99-492b-abb9-f20d3d6c447b" >
		<http:listener doc:name="Listener" doc:id="c36cf56b-6c84-4de0-b392-c1dd90a8e322" config-ref="HTTP_Listener_config" path="/api"/>
		<ee:transform doc:name="Transform Message" doc:id="9820b79a-bbe9-48cd-a47f-69cb22112de1" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message" : "hello"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="804611a5-47f8-4181-87b2-0ed33e9fc365" message="#[payload]"/>
	</flow>
</mule>
